/* default css */
* {
  color: #4e4e4e;

}

body {
  background-color: #fff;
}

/* NavigationBar */
.navigation-bar {
  height: 15vh;
  padding: 0px 1.5rem;
  box-shadow: 0em 0em 0.3em 0em;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
}

.menu-icon {
  text-align: center;
}

@keyframes inAnimation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  60% {
    transform: scale(10);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outAnimation {
  20% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.manu {
  position: absolute;
  display: grid;
  z-index: 2;
  height: 85vh;
  background: rgba(255, 255, 255, 0.9);
  width: 20rem;
  justify-content: start;
  align-items: center;
  grid-template-columns: 100%;
  padding: 5rem 0rem;
  max-width: 100%;
}

.manu-list {
  color: #c7a162;
  padding: 1rem 2rem;
  transition: transform 0.3s ease-out;
  font-size: 1.1rem;
}

.manu-list:hover {
  background-color: #c7a162;
  color: white;
  transform: translate(4px, 0px);
}

.cart-manu {
  position: absolute;

  right: 0px;
  z-index: 2;
  height: 85vh;
  background: rgba(255, 255, 255, 0.9);
  width: 20rem;
  justify-content: start;
  align-items: center;
  grid-template-columns: 100%;
  padding: 2rem 0rem;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart-item {
  color: #c7a162 !important;
  padding: 1rem 1rem;
  transition: transform 0.3s ease-out;
  /* font-size: 1.1rem; */
}

.cart-item:hover {
  background-color: #c7a162;
  color: white !important;
  transform: translate(-4px, 0px);
}

.view-cart {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

/* Slider css */

.slider-caption {
  left: 60%;
  position: absolute;
}

.next-prev {
  color: darkkhaki;
}

.slide-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* max-width: 100%;
  max-height: 100%; */
}


/* top section */
.top-section {
  padding: 5rem 1rem;
}

.top-item,
.top-catagory {
  display: grid !important;
  grid-template-rows: 2rem 15rem 2rem !important;
  width: 100%;

}

/* catagories */
.main-catagories{
  width: 40rem;
  max-width: 100vw;
}


/* featured  products */

.featured-products {
  display: inline-flex;
  overflow-x: hidden;
  gap: 1rem;
  width: auto;

}



/* products specific css */

.product-image {
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.product-image:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

/* to remove all underlines */
a {
  text-decoration: none !important;
}

main{
  top: 15vh;
  position: relative;
}

footer{
  position: relative;
  top: 15vh;
}